<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Emails</title>-->
<!--    &lt;!&ndash; JavaScript Bundle with Popper &ndash;&gt;-->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>-->
<!--    &lt;!&ndash; CSS only &ndash;&gt;-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">-->
<!--</head>-->
<!--<body style="background-color: #F0F0F0">-->
<div th:replace="shared/header"></div>
    <div class="shadow p-3 mb-5 rounded;" style="height: 90px; background-color: #008065;">
        <h2 style="color: #FFF">Vencimento de Documentos</h2>
    </div>

    <div>
        <div style="background-color: #007B63; color: #FFF">Rodrigo Trentini</div>
        <div>CERTIFICADO DE CURSO BASICO NR10 (40HS) - Vence em: 14/01/2020</div>
    </div>

<div th:replace="shared/footer"></div>