<table cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td style="background-color: #008065; color: #FFF; font-size: 25px; font-weight: 200; padding-left: 10px;">
            Sua banda <span th:text="${bandName}"></span> foi cadastrada com sucesso!
        </td>
        <td style="background-color: #008065;" align="right">
            <img style="height: 90px;display: block;width: 215px;" src="https://img.hotimg.com/green-code-logo-white41f240c1f1776b78.png" alt="logo" width="50%"/>
        </td>
    </tr>
</table>
<table align="center" cellpadding="0" cellspacing="0" width="100%" style="text-align: center;">
    <tr>
        <td>
            <h2>Olá!, <span th:text="${creatorName}"></span></h2>
            <p style="font-size: 16px; padding: 10px;">
                Sua banda <b><span th:text="${bandName}"></span></b> foi criada com sucesso!,

                A equipe do Music4All gostaria de agradecer por se juntar a nós e criar um perfil para sua banda em
                nossa plataforma! Parabéns por dar esse passo para compartilhar sua música com o mundo.

                Aqui no Music4All, você tem a oportunidade não apenas de mostrar suas músicas ao mundo, mas também de
                compartilhar momentos incríveis com seus fãs. De fotos a vídeos e, é claro, suas músicas, você pode
                compartilhar tudo isso em seu perfil e se conectar de forma mais próxima com seu público.

                Além disso, nossa plataforma oferece uma série de recursos para ajudar você a divulgar seu trabalho e
                aumentar seu engajamento. Compartilhe suas músicas em nossas redes sociais, participe de eventos
                exclusivos para artistas e conecte-se com outros músicos e fãs que compartilham sua paixão pela música.

                Estamos aqui para apoiá-lo em sua jornada musical e ajudá-lo a alcançar seus objetivos. Obrigado por
                fazer parte da comunidade Music4All!</p>
        </td>
    </tr>

</table>