<table cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td style="background-color: #008065; color: #FFF; font-size: 25px; font-weight: 200;">
            Obrigado por se cadastrar no music4All
        </td>
        <td style="background-color: #008065;" align="right">
            <img style="height: 90px;display: block;width: 215px;" src="https://img.hotimg.com/green-code-logo-white41f240c1f1776b78.png" alt="logo" width="50%"/>
        </td>
    </tr>
</table>
<table align="center" cellpadding="0" cellspacing="0" width="100%" style="text-align: center; padding: 10px;">
    <tr>
        <td>
            <h2>Olá!, <span th:text="${NAME}"></span></h2>
            <p style="font-size: 16px;">Seja bem-vindo ao <span th:text="${NAME}"></span>! Estamos muito felizes em tê-lo conosco.</p>

            <p>A equipe do Music4All gostaria de expressar nosso sincero agradecimento por se cadastrar em nossa plataforma! Estamos entusiasmados por tê-lo(a) conosco.

                O Music4All é mais do que uma plataforma de música; é uma comunidade vibrante onde músicos independentes como você podem compartilhar sua paixão, descobrir novas músicas e se conectar com outros artistas de todo o mundo.

                Estamos ansiosos para vê-lo(a) explorar todas as funcionalidades que o Music4All oferece. Seja para promover sua música, encontrar colaboradores para novos projetos ou simplesmente se conectar com outros amantes da música, estamos aqui para apoiá-lo(a) em sua jornada musical.

                Se surgir alguma dúvida ou se precisar de ajuda, não hesite em entrar em contato conosco. Estamos sempre disponíveis para ajudar.</p>
        </td>
    </tr>

</table>