
<!--<table align="center"  cellpadding="0" cellspacing="0" width="100%">-->
<!--  <tr>-->
<!--    <td style="background-color: #008065; color: #FFF; font-size: 25px; font-weight: 200; padding-left: 20px;">-->
<!--      Vencimento de Documentos-->
<!--    </td>-->
<!--    <td style="background-color: #008065;" align="right">-->
<!--      <img style="height: 90px;display: block;width: 215px;" src="https://i.imgur.com/y3IZICI.png" alt="logo" width="50%"/>-->
<!--    </td>-->
<!--  </tr>-->
<!--  <table align="center"  cellpadding="0" cellspacing="0" width="90%" style="padding-botton: 35px">-->
<!--    <tr>-->
<!--      <td>-->
<!--        <h2>Ampliato</h2>-->
<!--        <p style="font-size: 16px;">Favor providenciar a entrega do(s) Documento(s), citado(s) abaixo, à Destra em no máximo 15 dias, quando o(s) mesmo(s)-->
<!--          vencerá(ão):-->
<!--        </p>-->
<!--      </td>-->
<!--    </tr>-->

<!--   <table align="center" cellpadding="0" cellspacing="0" width="90%" style="padding-bottom: 30px;">-->
<!--     <tr style="border-bottom:1pt solid black;">-->
<!--       <td style="background-color: #008065; color: #FFF; font-size: 20px; font-weight: 700; padding: 15px;">-->
<!--         William Pereira-->
<!--       </td>-->
<!--       <td align="right" style="background-color: #008065; color: #FFF; font-size: 20px; padding: 15px;">-->
<!--         Campinas-->
<!--       </td>-->
<!--     </tr>-->

<!--     <tr >-->
<!--       <td colspan="2"  style="font-size: 20px;border-style: solid;border-color: #008065;border-width: thin;padding: 15px;">CERTIFICADO DE CURSO BASICO NR10 (40HS) - Vence em: 14/01/2020</td>-->
<!--     </tr>-->

<!--   </table>-->


<!--    <table align="center" cellpadding="0" cellspacing="0" width="90%" style="padding-botton: 35px;">-->
<!--      <tr style="border-bottom:1pt solid black;">-->
<!--        <td style="background-color: #008065; color: #FFF; font-size: 20px; font-weight: 700; padding: 15px;">-->
<!--          William Pereira-->
<!--        </td>-->
<!--        <td align="right" style="background-color: #008065; color: #FFF; font-size: 20px; padding: 15px;">-->
<!--          Campinas-->
<!--        </td>-->
<!--      </tr>-->

<!--      <tr>-->
<!--        <td colspan="2"  style="font-size: 20px;border-style: solid;border-color: #008065;border-width: thin;padding: 15px;">CERTIFICADO DE CURSO BASICO NR10 (40HS) - Vence em: 15/01/2020</td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td colspan="2"  style="font-size: 20px;border-style: solid;border-color: #008065;border-width: thin;padding: 15px;">ASO COM APTO PARA TRABALHO EM ALTURA (NR35) - Vence em: 16/01/2020</td>-->
<!--      </tr>-->
<!--    </table>-->

<!--  </table>-->

<!--</table>-->

<h1>Teste novo</h1>
<p>{{NAME}}</p>